* {
	box-sizing: border-box;
}
body {
	font-family: Verdana, sans-serif;
}
.mySlides {
	display: none;
}
.slider-img{
	position: absolute;
	width: 100%;
	height: 500px;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slideshow-container {
 	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	width: 100%;
	height: 500px;
	padding-bottom: 0;
	background: #4c4c4c;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.slide-content-container{
	box-sizing: border-box;
	color: #646a7c;
	font-family: Poppins,sans-serif;
	font-size: 14px;
	left: 0;
	line-height: 21px;
	position: absolute;
	right: 0;
	text-align: left;
	top: 40%;
	transform: translateY(-50%);
	z-index: 1;
}

.container{
	box-sizing: border-box;
	color: #646a7c;
	font-family: Poppins,sans-serif;
	font-size: 14px;
	line-height: 21px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1140px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
	width: 100%;
}

.row{
	box-sizing: border-box;
	color: #646a7c;
	display: flex;
	flex-wrap: wrap;
	font-family: Poppins,sans-serif;
	font-size: 14px;
	line-height: 21px;
	margin-left: -15px;
	margin-right: -15px;
	text-align: left;
}

.col{
	box-sizing: border-box;
	color: #646a7c;
	flex: 0 0 66.6667%;
	font-family: Poppins,sans-serif;
	font-size: 14px;
	line-height: 21px;
	max-width: 66.6667%;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	text-align: left;
	width: 100%;
}

.banner{
	box-sizing: border-box;
	color: #646a7c;
	font-family: Poppins,sans-serif;
	font-size: 14px;
	line-height: 21px;
	overflow: hidden;
	text-align: left;
}

h2, h5{
	color: rgb(41, 43, 44);
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

h5{
	font-weight: 300;
	font-size: 1.25rem;
	margin-bottom: 0;
	animation: slideInLeft;
	animation-duration: 1s;
}

h2{
	display: block;
    font-size: 1.5em;
    font-weight: bold;
    font-size: 60px;
    animation: slideInLeft;
	animation-duration: 2s;
}

.shop-now-button{
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 12px 35px;
    font-size: 1rem;
    border: 1px solid #FF324D;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: #FF324D;
    transition: all .35s;
    animation: slideInLeft;
	animation-duration: 2.2s;
}

.shop-now-button:hover{
	background-color: transparent;
	color: #FF324D;
}